<div class="container mt-4">
  <h2>Liste des Catégories</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let categorie of categories">
      <div class="d-flex justify-content-between align-items-center">
        <span class="category-name">{{ categorie.nom }}</span>
      </div>
      <div class="d-flex justify-content-end align-items-center" id="categorie-buttons">
        <button class="btn btn-success" (click)="onCategorieLivresClick(categorie)">Livres</button>
        <button class="btn btn-primary" (click)="onCategorieDetailsClick(categorie)">Détails</button>
      </div>
    </li>
  </ul>
</div>

<br><br><br>
